virtual-env/
practice_demo/
.env
open_ai/__pycache__
charts/__pycache__
pdf_highlights_data/__pycache__
demo.py
product_images/


transactions.json
ai_agents/__pycache__

database_sql/__pycache__

pinecone_v_db/__pycache__
